.DS_Store
composer.lock
vendor
downloads

.idea/.name

.idea/codeStyleSettings.xml

.idea/dictionaries/tondi.xml

.idea/encodings.xml

.idea/httpful.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
