<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./bootstrap-server.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Httpful">
      <directory>.</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="WEB_SERVER_HOST" value="localhost"/>
    <const name="WEB_SERVER_PORT" value="1349"/>
    <const name="WEB_SERVER_DOCROOT" value="./static"/>
    <env name="http_proxy" value=""/>
  </php>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </source>
</phpunit>
